.container{
    margin: 0;
    padding: 0;
    background-image: url('../images/home/backimg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: right;
}
.centerContainer p{
    font-family: 'SZX';
    width: 60%;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 28px;
    color: rgba(189,49,36,1);
}

.centerContainer h1{
    font-family: 'SZX';
    font-size: 48px;
    font-weight: 700;
    color: rgba(189,49,36,1);
}

.container .tolink{
    background: rgb(246, 198, 103);
    cursor: pointer;
    padding: 2px 18px;
    border-radius: 20px;
    font-size: 36px;
    color: rgb(189, 49, 36);
    text-decoration: underline;
}

.container .footer{
    margin-top: 100px;
}